*
!*/

# track this file
!.gitignore

!export_config.txt
!README.md
!LICENSE
!HereBeDragons.jar
!HereBeDragons.json
!HereBeDragons.code-workspace
!.roo/**/*
!options.txt

# whitelist everything in ./config/
!config/**/*
!defaultconfigs/**/*
!kubejs/**/*
!mods/**/*
!resourcepacks/**/*
!shaderpacks/**/*
!screenshots/**/*

!mod-sources/**/*

!journeymap/config/**/*
!journeymap/server/**/*

!PCL/**/*

.probe
resourcepacks/Minecraft-Mod-Language-Modpack-Converted-1.21.1.zip
shaderpacks/ComplementaryReimagined_r5.5.1 + EuphoriaPatches_1.6.5/**/*

config/inventoryprofilesnext

config/spark/
!config/spark/config.json

!config/inventoryprofilesnext/integrationHints
!config/inventoryprofilesnext/integrationHints/**/*