*
!*/

# track this file
!.gitignore
!README.md
!LICENSE
!HereBeDragons.jar
!HereBeDragons.json
!HereBeDragons.code-workspace

# whitelist everything in ./config/
!config/**/*
!kubejs/**/*
!mods/**/*
!resourcepacks/**/*
!screenshots/**/*

.probe
